.header {
    background: linear-gradient(#240a15, #070700, #000000);
    display: flex;
    align-items: center;
    column-gap: 15px;
    padding: 5px;
    height: 40px;
}

.pageNavButton {
    margin-left: 20px;
}

.requestStatisticsLink {
    margin-left: auto;
    margin-right: 20px;
    text-decoration: none;
    color: #e2dfdf;
}

.requestStatisticsLink:hover {
    color: #ffffff;
}