@font-face {
  font-family: 'Inter-Light';
  src: local('Inter-Light'),
  url('/fonts/Inter-Light.ttf') format('ttf');
}

body {
  font-family: 'Inter-Light', sans-serif;
  margin: 0;
  color: black;
  height: 100%;
  width: 100%;
  background: rgb(91, 87, 115) linear-gradient(transparent, rgba(0, 0, 0, 1));
}