.base64ConversionTypeSelectLabel, .base64StringToConvertInputLabel, .base64ConvertedStringLabel {
    color: #e2dfdf;
}

.base64ConversionTypeSelect, .base64ConversionTypeSelectLabel, .base64StringToConvertInput, .base64ConvertedString,
.base64StringToConvertInputLabel,
.base64ConvertedStringLabel {
    font-size: 25px;
}

.base64ConversionTypeSelect, .base64StringToConvertInput {
    background: white;
}

.base64ConverterItem {
    margin-left: 100px;
}

.base64StringToConvertInput, .base64ConvertedString {
    margin-top: 20px;
}

.base64ConversionTypeSelect, .base64StringToConvertInput, .base64ConvertedString {
    border-radius: 5px;
    margin-left: 10px;
}

.base64ConvertedString {
    background-color: #e2dfdf;
}